[Desktop Entry]
Categories=LliureX-Administration;
Comment[ca_ES]=Program to configure different login options
Comment=Program to configure different login options
Comment[ca@valencia]=Programa per a configurar diferents opcions d'inici de sessió
Comment[ca_ES.UTF-8@valencia]=Programa per a configurar diferents opcions d'inici de sessió
Comment[es_ES]=Programa para configurar distintas opciones de inicio de sesión
Encoding=UTF-8
Exec=/usr/sbin/lliurex-login-control
GenericName[ca_ES]=lliurex-login-control
GenericName=lliurex-login-control
GenericName[es_ES]=lliurex-login-control
Icon=lliurex-login-control
MimeType=
Name[ca_ES]=Lliurex-Login-Control
Name=Lliurex-Login-Control
Name[ca@valencia]=Lliurex-Login-Control
Name[ca_ES.UTF-8@valencia]=Lliurex-Login-Control
Name[es_ES]=Lliurex-Login-Control
NoDisplay=true
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=lliurex-login-control
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
